/* Main Body Style */
body {
	margin:                                0px;
	background:                            #009EC3;
	font-family:                           Arial, sans-serif;
	font-size:                             20px;
	color:                                 #FFF;
	text-shadow:                           0px 1px 0px #007C9E;
}

ol, ul, li {
	margin:                                0px;
	padding:                               0px;
	list-style:                            none;
}

h1, h2 {
	margin:                                0px;
}

a {
	outline:                               none;
	text-decoration:                       none;
	color:                                 #FFF;
}

#process {
	display:                               none;
}

/* Scrollbar */
::-webkit-scrollbar {
	width:			               6px;
}

::-webkit-scrollbar-thumb {
	background:                            rgba(255, 255, 255, 0.3);
	border-radius:                         4px;
}

/* Map Container */
#mapContainer {
	width:                                 100%;
	overflow:                              hidden;
}

/* Hashtag Selection Sidebar */
#hashtagSelectionSidebar {
	padding:                               45px;
	width:                                 300px;
	background:                            rgba(0, 143, 183, 0.8);
	position:                              absolute;
	top:                                   0px;
	left:                                  0px;
	overflow-y:                            auto;
}

#hashtagSelectionSidebar h1 {
	margin:                                0px;
	font-size:                             32px;
	text-transform:                        uppercase;
	text-shadow:                           2px 2px rgba(0,0,0,0.5);
}

#hashtagSelectionSidebar #separator {
	margin:                                5px 0px 0px 0px;
	width:                                 140px;
	height:                                6px;
	background:                            #FFF;
	box-shadow:                            0px 1px 0px #007C9E;
}

#hashtagSelectionSidebar h2 {
	margin:                                25px 0px 0px 0px;
	font-size:                             inherit;
	font-weight:                           normal;
	line-height:                           28px;
}

#hashtagSelectionSidebar #hashtags {
	margin:                                25px 0px 0px 0px;
	padding:                               0px 0px 15px 0px;
	counter-reset:                         hashtagCounter;
	border-bottom:                         1px dotted rgba(255, 255, 255, 0.3);
}

#hashtagSelectionSidebar #hashtags li:before {
	content:                               "#" counter(hashtagCounter);
	counter-increment:                     hashtagCounter;
	float:                                 left;
}

#hashtagSelectionSidebar #hashtags li {
	margin:                                15px 0px 0px 0px;
	padding:                               15px 0px 0px 0px;
	text-align:                            right;
	border-top:                            1px dotted rgba(255, 255, 255, 0.3);
	white-space:                           nowrap;
	overflow:                              hidden;
	text-overflow:                         ellipsis;
}

#hashtagSelectionSidebar #customSearchTermField {
	padding:                               15px 15px 15px 45px;
	margin:                                20px 0px 0px 0px;
	width:                                 240px;
	background:                            rgba(1, 1, 1, 0.1) url('/Content/Images/customSearchTermFieldBackground.png') no-repeat 50%;
	outline:                               none;
	font-size:                             20px;
	color:                                 #FFF;
	border:                                none;
	border-radius:                         2px;
	transition:                            background 0.5s;
	text-align:                            left;
}

#hashtagSelectionSidebar #customSearchTermField:focus {
	background-position:                   15px 50%;
}

#hashtagSelectionSidebar #modalLinks {
	width:                                 300px;
	font-size:                             12px;
	padding-bottom:                        0.63em;
	padding-top:                           0.63em;
}

#hashtagSelectionSidebar #modalLinks li {
	display:                               inline;
	cursor:                                pointer;
}

#hashtagSelectionSidebar #modalLinks li:last-child {
	float:                                 right;
}

#hashtagSelectionSidebar #closeHashtagSelectionSidebarButton {
	position:                              absolute;
	top:                                   45px;
	right:                                 45px;
	opacity:                               0.9;
}

#hashtagSelectionSidebar #closeHashtagSelectionSidebarButton:hover {
	opacity:                               1;
	cursor:                                pointer;
}

/* Open Hashtag Selection Sidebar Button */
#openHashtagSelectionSidebarButton {
	position:                              absolute;
	top:                                   45px;
	left:                                  45px;
	opacity:                               0.9;
	display:                               none;

}

#openHashtagSelectionSidebarButton:hover {
	opacity:                               1;
	cursor:                                pointer;
}

/* Options Button */
#optionsButton {
	position:                              absolute;
	top:                                   45px;
	right:                                 45px;
	opacity:                               0.9;

}

#optionsButton:hover {
	opacity:                               1;
	cursor:                                pointer;
}

/* Modal Freeze Frame */
#modalFreezeFrame {
	width:                                 100%;
	height:                                100%;
	background:                            rgba(0, 183, 234, 0.8);
	position:                              absolute;
	top:                                   0px;
	left:                                  0px;
	display:                               none;
	opacity:                               0.8;
}

/* Default Modal Box */
.modalBox {
	padding:                               25px;
	width:                                 600px;
	background:                            #FFF;
	display:                               none;
	color:                                 #0082A1;
	text-shadow:                           none;
}

.modalBox h1 {
	font-size:                             32px;
	text-transform:                        uppercase;
}

.modalBox .separator {
	margin:                                5px 0px 0px 0px;
	width:                                 80px;
	height:                                6px;
	background:                            #0082A1;
}

.modalBox p {
	margin:                                15px 0px 0px 0px;
	color:                                 #888;
	text-align:                            justify;
	line-height:                           28px;
}

/* Options Modal Box */
#optionsModalBox .colourScheme {
	margin:                                25px 0px 0px 0px;
	overflow:                              auto;
	cursor:                                pointer;
}

#optionsModalBox .colourScheme .colourBlock {
	padding:                               35px 5px 5px 5px;
	width:                                 189px;
	text-align:                            right;
	font-size:                             12px;
	font-weight:                           bold;
	color:                                 #FFF;
	float:                                 left;
	border-right:                          1px solid #FFF;
}
