/* Main Body Style */
body {
	margin:                                0px;
	background:                            #009EC3;
	font-family:                           Arial, sans-serif;
	font-size:                             1em;
	color:                                 #FFF;
	overflow:                              hidden;
}

ol, ul, li {
	margin:                                0px;
	padding:                               0px;
	list-style:                            none;
}

h1, h2 {
	margin:                                0px;
}

a {
	outline:                               none;
	text-decoration:                       none;
	color:                                 #FFF;
}

#readerContainer {
    position:                              absolute;
    left:                                  -10000px;
    top:                                   auto;
    width:                                 1px;
    height:                                1px;
    overflow:                              hidden;
}

#process {
	display:                               none;
}

/* Map Container */
#mapContainer {
	width:                                 100%;
	overflow:                              hidden;
}

/* Hashtag Selection Sidebar */
#hashtagSelectionSidebar {
	padding:                               45px;
	width:                                 300px;
	background:                            rgba(26, 48, 84, 0.5);
	position:                              absolute;
	top:                                   0px;
	left:                                  0px;
	overflow:                              none;
    text-shadow:                           0px 0px 7px rgba(0,0,0,0.75);
}

#hashtagSelectionSidebar h1 {
	margin:                                0px;
	font-size:                             2em;
	text-transform:                        uppercase;
}

#hashtagSelectionSidebar h2 {
	margin:                                25px 0px 0px 0px;
	font-size:                             1.2em;
	font-weight:                           normal;
	line-height:                           28px;
}

#hashtagSelectionSidebar #hashtags {
	margin:                                25px 0px 0px 0px;
	padding:                               0px 0px 15px 0px;
	border-bottom:                         1px dotted rgba(255, 255, 255, 0.3);
}

#hashtagSelectionSidebar #hashtags li {
	margin:                                15px 0px 0px 0px;
	padding:                               15px 0px 0px 0px;
    font-size:                             0.88em;
	border-top:                            1px dotted rgba(255, 255, 255, 0.3);
	white-space:                           nowrap;
	overflow:                              hidden;
	text-overflow:                         ellipsis;
}

#hashtagSelectionSidebar #customSearchTermField {
	padding:                               15px 15px 15px 45px;
	margin:                                20px 0px 0px 0px;
	width:                                 240px;
	background:                            rgba(255, 255, 255, 0.1) url('/Content/Images/customSearchTermFieldBackground.png') no-repeat 50%;
	outline:                               none;
	font-size:                             16px;
	color:                                 #FFF;
	border:                                none;
	border-radius:                         2px;
	transition:                            background 0.5s;
	text-align:                            left;
}

#hashtagSelectionSidebar #customSearchTermField:focus {
	background-position:                   15px 50%;
}

#hashtagSelectionSidebar #modalLinks {
	padding:                               15px 0px 0px 0px;
	width:                                 100%;
	font-size:                             0.95em;
    text-align:                            center;
}

#hashtagSelectionSidebar #modalLinks li {
	display:                               inline;
	cursor:                                pointer;
}

#hashtagSelectionSidebar #closeHashtagSelectionSidebarButton {
	position:                              absolute;
	top:                                   55px;
	right:                                 0px;
	opacity:                               0.9;
}

#hashtagSelectionSidebar #closeHashtagSelectionSidebarButton:hover {
	opacity:                               1;
	cursor:                                pointer;
}

/* Open Hashtag Selection Sidebar Button */
#openHashtagSelectionSidebarButton {
	position:                              absolute;
	top:                                   45px;
	left:                                  45px;
	opacity:                               0.9;
	display:                               none;

}

#openHashtagSelectionSidebarButton:hover {
	opacity:                               1;
	cursor:                                pointer;
}

/* Modal Freeze Frame */
#modalFreezeFrame {
	width:                                 100%;
	height:                                100%;
	background:                            rgba(0, 183, 234, 0.8);
	position:                              absolute;
	top:                                   0px;
	left:                                  0px;
	display:                               none;
	opacity:                               0.8;
}

/* Default Modal Box */
.modalBox {
	padding:                               25px;
	width:                                 600px;
	background:                            #FFF;
	display:                               none;
	color:                                 #0082A1;
	border-radius:                         2px;
}

.modalBox h1 {
	font-size:                             32px;
	text-transform:                        uppercase;
}

.modalBox p {
	margin:                                15px 0px 0px 0px;
	color:                                 #888;
	text-align:                            justify;
	line-height:                           28px;
}