@model GroupA.FolksOpinion.UI.Models.TrendingTopics

@{
    ViewBag.Title = "Home Page";
}

@Scripts.Render("~/Scripts/map.js")
@Scripts.Render("~/Scripts/main.js")

@Styles.Render("~/Content/main.css")

<div id="mapContainer">
    <canvas id="map"></canvas>
</div>

<div id="hashtagSelectionSidebar">
    <h1>Folk's<br />Opinion</h1>
    <div id="separator"></div>
    <table>
        <tr><td><input type="search" id="searchTwi" placeholder="Enter search term/hashtag" /></tr></td>
        <tr><td><input type="submit" onclick="SearchbtnonClick()"></tr></td>
    </table>
    <h2>Click a top trending<br />hashtag to analysis it.</h2>
    <ol id="hashtags">
        @foreach (var trend in Model.CurrentTrends)
        {
            @* 
                trend.query reveals what to search Twitter for to retrieve trend.
                May or may not be different from UrlEncode(trend.name)
            *@
            <li>@trend.name</li>
        }
    </ol>
    <img src="~/Content/Images/closeHashtagSelectionSidebarButton.png" alt="Close Sidebar" id="closeHashtagSelectionSidebarButton" />
></div>

<img src="~/Content/Images/openHashtagSelectionSidebarButton.png" alt="Open Sidebar" id="openHashtagSelectionSidebarButton" />

<div id="aboutModalBox" class="modalBox">
    <h1>About</h1>
    <div class="separator"></div>
    <p>About content.</p>
</div>
<div id="helpModalBox" class="modalBox">
    <h1>Help</h1>
    <div class="separator"></div>
    <p>Help content.</p>
</div>
<div id="optionsModalBox" class="modalBox">
    <h1>Colour Scheme</h1>
    <div class="separator"></div>
</div>